.jtypo-warning {
  font-style: italic;
  border-bottom: 1px dotted red;
  cursor: help;
  color: red;
  background: white; 
}

.jtypo-debug {
}

.jtypo-debug.spp-enabled,
.jtypo-debug.spp-enabled * {
}

.jtypo-debug.spp-enabled:before {
  content: "JT";
  display: inline;
  font-size: 9px;
  line-height: 9px;
  vertical-align: top;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8); !important;
  border-radius: 2px;
  font-family: Georgia;
  padding: 3px 3px;
  position: absolute;
  color: green;
  background: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 1px rgba(0,255,0,0.5); !important;
  border: 1px solid rgba(0,100,0,0.4);
}

.jtypo-error.spp-enabled:before {
  content: "JT !";
  color: red;
  background: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8); !important;
  border: 1px solid rgba(100,0,0,0.4);
}

.jtypo-debug.spp-hover,
.jtypo-debug.spp-hover * {
}

.jtypo-debug.spp-display,
.jtypo-debug.spp-display * {
}
